absl-py==1.4.0
accelerate==0.25.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.7.1
altair==5.2.0
amqp==5.1.1
annotated-types==0.5.0
anyio==3.7.1
apturl==0.5.2
asgiref==3.5.2
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.2.0
autopep8==2.0.2
auxlib==0.0.43
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.2
billiard==3.6.4.0
bitarray==2.7.3
blinker==1.4
Brlapi==0.8.3
bs4==0.0.1
cachetools==5.3.0
celery==5.2.7
certifi==2022.9.24
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.0.12
cliapp==1.20180812.1
click==8.0.1
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cmake==3.25.2
cmdtest==0.32+git
coinbase==2.1.0
colorama==0.4.4
command-not-found==0.3
contourpy==1.0.7
coverage==5.5
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
Cython==3.0.6
cytoolz==0.12.1
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
defusedxml==0.8.0rc2
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.1.7
django-json-response==1.1.5
django-response==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dlib==19.24.0
dnspython==2.4.2
drf-yasg==1.21.7
duplicity==0.8.21
ecdsa==0.18.0
elastic-transport==8.4.0
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
entrypoints==0.4
env==0.1.0
et-xmlfile==1.1.0
eth-abi==4.0.0
eth-account==0.8.0
eth-hash==0.5.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.3.0
eth-utils==2.1.0
exceptiongroup==1.0.4
executing==1.2.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.103.1
fasteners==0.14.1
filelock==3.8.0
Flask==2.0.1
Flask-Alembic==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
flatbuffers==23.5.26
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.9.2
future==0.18.2
gast==0.4.0
gcloud==0.17.0
gevent==21.8.0
gitdb==4.0.11
GitPython==3.1.42
google-api-core==2.11.0
google-api-python-client==2.87.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-search-results==2.4.2
googleapis-common-protos==1.59.0
googlesearch-python==1.2.3
graphviz==0.20.1
greenlet==1.1.1
grpcio==1.57.0
gspread==6.0.2
gunicorn==20.1.0
h11==0.14.0
h5py==3.9.0
hexbytes==0.3.0
httplib2==0.20.2
httptools==0.6.0
huggingface-hub==0.17.3
icecream==2.1.3
idna==3.3
importlib-metadata==4.6.4
importlib-resources==5.2.2
inflection==0.5.1
iniconfig==1.1.1
install==1.3.5
ipykernel==6.16.2
ipython==8.5.0
itsdangerous==2.0.1
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==7.4.4
jupyter_core==4.11.2
jws==0.1.3
keras==2.15.0
keyring==23.5.0
kiwisolver==1.4.4
kombu==5.2.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==16.0.6
lockfile==0.12.2
loguru==0.7.2
louis==3.20.0
lru-dict==1.1.8
lxml==4.9.3
macaroonbakery==1.3.1
Mako==1.1.5
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==8.10.0
multidict==6.0.4
mysql-connector-python==8.0.26
mysql-connector-python-rf==2.2.2
mysqlclient==2.2.0
nest-asyncio==1.5.6
netifaces==0.11.0
network==0.1
networkx==2.8.8
nltk==3.7
npy-reader==1.1.2
numpy==1.25.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauth2client==3.0.0
oauthlib==3.2.0
olefile==0.46
openai==0.28.0
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.2
pandas==1.5.1
paramiko==2.9.3
parsimonious==0.9.0
parso==0.8.3
passlib==1.7.4
path==16.5.0
patsy==0.5.3
pexpect==4.8.0
pgmpy==0.1.20
pickleshare==0.7.5
Pillow==9.0.1
pinecone-client==2.2.4
pip-custom-platform==0.5.0
pipenv==2023.2.4
platformdirs==2.5.2
plot==0.6.5
pluggy==1.0.0
pomegranate==0.14.8
prettytable==3.8.0
prompt-toolkit==3.0.31
protobuf==4.22.1
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyarrow==15.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycairo==1.20.1
pycodestyle==2.10.0
pycoingecko==3.1.0
pycparser==2.21
pycryptodome==3.4.3
pycups==2.0.1
pydantic==2.3.0
pydantic_core==2.6.3
pydeck==0.8.1b0
Pygments==2.13.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
pymongo==4.5.0
pymonkey==0.3.1
PyMySQL==1.1.0
PyNaCl==1.5.0
pyparsing==2.4.7
Pyrebase==3.0.27
pyRFC3339==1.1
pyrsistent==0.19.3
PySimpleGUI==4.60.5
PySocks==1.7.1
pytest==6.2.5
pytest-cov==2.12.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-jose==3.3.0
python-jwt==2.0.1
python-multipart==0.0.9
python3-openid==3.2.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==24.0.1
regex==2022.9.13
reportlab==3.6.8
requests==2.26.0
requests-oauthlib==1.3.1
requests-toolbelt==0.7.0
rich==13.7.0
rlp==3.0.0
rsa==4.9
safetensors==0.3.3
scikit-learn==1.1.2
scipy==1.9.3
seaborn==0.13.0
SecretStorage==3.3.1
selenium==4.16.0
sentencepiece==0.1.99
six==1.16.0
sklearn==0.0
smmap==5.0.1
sniffio==1.3.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
speedtest-cli==2.1.3
SQLAlchemy==1.4.23
sqlparse==0.4.3
stack-data==0.6.0
starlette==0.27.0
statsmodels==0.13.5
streamlit==1.31.1
StrEnum==0.4.15
systemd-python==234
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.1
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.13.0
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
transformers==4.33.3
trio==0.22.0
trio-websocket==0.9.2
ttystatus==0.38
typing==3.7.4.3
typing_extensions==4.7.1
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urequests==0.1.2
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.23.2
uvloop==0.17.0
validators==0.22.0
vine==5.0.0
virtualenv==20.16.6
virtualenv-clone==0.5.7
wadllib==1.3.6
watchdog==4.0.0
watchfiles==0.20.0
wcwidth==0.2.5
web3==6.0.0
websockets==10.4
Werkzeug==2.0.1
wfdb==4.1.2
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
yarl==1.8.2
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
